 <!DOCTYPE html>
<html>
<body>

<h1>Why should you change your search engine</h1>
 <div class="row">
  <div class="column">
    <img src="../images_folder/drake_cropped.jpg" alt="meme" width="150" height="300" >
  </div>
  <div class="column">
    <img src="../images_folder/drake_cropped.jpg" alt="second part" width="150" height="300">
  </div>
</div> 
  <h1>"price discrimination" </h1>
 <p>-->selling the same exact good at a variety of prices in ways unknown to the buyers. 
   <h1>"differential advertising through Google based on race and ethnicit" </h1>

 
</body>
</html> 
